<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.autocode.mapper.ScreenMapper">
  <resultMap id="BaseResultMap" type="com.cetccity.autocode.model.Screen">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ENAME" jdbcType="VARCHAR" property="ename" />
    <result column="CNAME" jdbcType="VARCHAR" property="cname" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="IS_USED" jdbcType="CHAR" property="isUsed" />
    <result column="LEFT" jdbcType="VARCHAR" property="left" />
    <result column="MIDDLE" jdbcType="VARCHAR" property="middle" />
    <result column="RIGHT" jdbcType="VARCHAR" property="right" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="MODIFY_DATE" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="DELETED_FLAG" jdbcType="CHAR" property="deletedFlag" />
    <result column="REORDER" jdbcType="DECIMAL" property="reorder" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ENAME, CNAME, DESCRIPTION, IS_USED, LEFT, MIDDLE, RIGHT, CREATOR, MODIFIER, CREATE_DATE, 
    MODIFY_DATE, DELETED_FLAG, REORDER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TBL_SCREEN
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from TBL_SCREEN
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insertSelective" parameterType="com.cetccity.autocode.model.Screen">
    insert into TBL_SCREEN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="ename != null">
        ENAME,
      </if>
      <if test="cname != null">
        CNAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="isUsed != null">
        IS_USED,
      </if>
      <if test="left != null">
        LEFT,
      </if>
      <if test="middle != null">
        MIDDLE,
      </if>
      <if test="right != null">
        RIGHT,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="modifyDate != null">
        MODIFY_DATE,
      </if>
      <if test="deletedFlag != null">
        DELETED_FLAG,
      </if>
      <if test="reorder != null">
        REORDER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="ename != null">
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isUsed != null">
        #{isUsed,jdbcType=CHAR},
      </if>
      <if test="left != null">
        #{left,jdbcType=VARCHAR},
      </if>
      <if test="middle != null">
        #{middle,jdbcType=VARCHAR},
      </if>
      <if test="right != null">
        #{right,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedFlag != null">
        #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="reorder != null">
        #{reorder,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cetccity.autocode.model.Screen">
    update TBL_SCREEN
    <set>
      <if test="ename != null">
        ENAME = #{ename,jdbcType=VARCHAR},
      </if>
      <if test="cname != null">
        CNAME = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isUsed != null">
        IS_USED = #{isUsed,jdbcType=CHAR},
      </if>
      <if test="left != null">
        LEFT = #{left,jdbcType=VARCHAR},
      </if>
      <if test="middle != null">
        MIDDLE = #{middle,jdbcType=VARCHAR},
      </if>
      <if test="right != null">
        RIGHT = #{right,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedFlag != null">
        DELETED_FLAG = #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="reorder != null">
        REORDER = #{reorder,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectAll" parameterType="com.cetccity.autocode.model.Screen" resultMap="BaseResultMap">
     select * from TBL_SCREEN
  </select>
</mapper>